<div class="container">
    <div class="header__content">
        <a class="logo" href="/">Logo</a>
        <a href="" class="header__link">Реєстрація/Увійти</a>
        <button type="" class="btn">Створити оголошення!</button>
        <div class="menu-container" id="menu-container" data-menu>
            <nav class="header__nav">
                <a href="" class="header__link">Нерухомість</a>
                <a href="" class="header__link">Транспорт</a>
                <a href="" class="header__link">Робота</a>
                <a href="" class="header__link">Електроніка</a>
                <a href="" class="header__link">Бізнес та послуги</a>
                <a href="" class="header__link">Відпочинок і спорт</a>
                <a href="" class="header__link">Віддам безкоштовно</a>
                <a href="" class="header__link">Обмін</a>
            </nav>
        </div>
    </div>
</div>