<div class="backdrop-overlay">
    <div class="modal-registration">
        <button class="close-button">
            <svg width="14" height="14">
                <use href="../../src/images/reg-modal.svg#icon-close-modal">
                </use>
            </svg>
            X
        </button>
        <span class="modal-reg-text">Ви можете авторизуватися за допомогою Googlt Account:</span>
        <button class="google-auth" type="">
            <svg class="google-icon" width="18" height="18">
                <use href="../images/reg-modal.svg#icon-google">

                </use>
            </svg>
            <span class="modal-reg-text">Google</span>G</button>
        <span class="modal-reg-text">Або зайти за допомогою імейлу і пароля, попередньо зареєструвавшись:</span>
        <form class="reg-form">
            <input class="email-input" type="email" placeholder="E-mail">
            <input class="password-input" type="password" placeholder="Password">
            <div class="reg-form-btns">
                <button class="auth-btns entry-btn">Увійти</button>
                <button class="auth-btns reg-btn">Зареєструватись</button>
            </div>
        </form>
    </div>

</div>